<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        {{#link-to "index" class="navbar-brand"}}Home{{/link-to}}
        {{#link-to "posts" class="navbar-brand"}}Posts{{/link-to}}
        {{#link-to "contact" class="navbar-brand"}}Contact{{/link-to}}
    </div>
</nav>
{{outlet}}
